
    <div class="col-lg-6" *ngFor="let store of stores">
      <div class="hover hover-1 text-white rounded" routerLink="/stores/catalog/{{store.id}}">
        <img src= "{{store.imgUrl}}"  alt="">
        <div class="hover-overlay"></div>
        <div class="hover-1-content px-5 py-4">
          <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">{{store.storeName}}</span></h3>
          <p class="hover-1-description font-weight-light mb-0">{{store.description}}</p>
        </div>
      </div>
    </div>





