<div class="container py-5">
  <header class="text-center">
    <h1 class="display-4 font-weight-bold">Acme Food Delivery</h1>
    <p class="font-italic text-muted mb-0">Are you hungry yet?</p>
  </header>

  <div class="py-5">
    <h3 class="font-weight-bold mb-0"> Acme Stores</h3>
    <p class="font-italic text-muted mb-4">Order now from our delicious partners below</p>
    <div class="row">
      <div *ngFor="let store of stores" class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-1 text-white rounded" routerLink="/home">
          <img src="{{store.imgUrl}}" alt="stores logo">
          <div class="hover-overlay"></div>
          <div class="hover-1-content px-5 py-4">
            <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">{{store.storeName}}</span></h3>
            <p class="hover-1-description font-weight-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>





